* {
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: $main-back-color;
    height: 100%;
}

body {
    font-family: 'Roboto', 'Noto Sas TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:visited {
        color: inherit;
    }
}

main {
    margin: auto;
    & {
        max-width: 100vw;
        min-height: calc(100vh);
    }
}

textarea {
    border-radius: 3px;
    background-color: $color-light-500;
    display: block;
    width: 100%;
    min-height: 60px;
    max-height: 200px;
}

input {
    border-radius: 3px;
    background-color: $color-light-300;
    color: $color-dark-400;
    padding: 3px 2px;
    outline: none;
    border: 0 inset;

    & + input {
        margin-top: 5px;
    }

    &::placeholder {
        color: $color-light-500;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}
