* {
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: $color-light-50;
    height: 100%;
}

body {
    font-family: "Roboto", "Noto Sas TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:visited {
        color: inherit;
    }
}

main {
    margin: auto;
    background-color: $color-light-200;
    & {
        max-width: 100vw;
        min-height: calc(100vh - 50px);
    }
    .container:not(#Home-container) {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 4% 15%;

        @include laptop {
            padding: 4% 4%;
        }
    }
}

textarea {
    border-radius: 3px;
    background-color: $color-light-500;
    display: block;
    width: 100%;
    min-height: 60px;
    max-height: 200px;
}

input {
    border-radius: 3px;
    background-color: $color-light-300;
    color: $color-dark-400;
    padding: 3px 2px;
    outline: none;
    border: 0 inset;

    & + input {
        margin-top: 5px;
    }

    &::placeholder {
        color: $color-light-500;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.footer-home {
    background-color: $color-dark-600;
    color: $color-light-50;
    padding: 5px;
}

.footer {
    background-color: $color-primary-500;
    color: $color-dark-600;
    padding: 5px;
}
