#AdminOption {
 .main{
  display: flex;
  flex-direction: column;
  align-items: center;

  .triangle {
    width: 0;
    height: 0;
    border: 10px solid;
    border-top: 0;
    border-color:  transparent  transparent $color-red-200 transparent;
  }

  .icon {
    transform:rotate(90deg);
  }
  
  .list {
    color: $color-light-50;
    background-color: $color-red-200;
    border: 1px;
    border-radius: 10px;
  }
 }
}