#Head {
    position: inherit;
    width: 100%;
    height: 50px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
        margin-right: 5px;
    }

    .homelogo {
        margin-left: 10px;
    }
    .btns {
        height: 30px;
        width: 100px;
        background-color: $color-light-200;
        border-color: $color-light-200;
        border-style: none;
    }
    .btns:hover {
        background-color: $color-primary-300;
    }
    .btns-home {
        height: 30px;
        width: 100px;
        background-color: $color-dark-900;
        border-color: $color-dark-900;
        border-style: none;
        color: $color-light-80;
    }
    .btns-home:hover {
        background-color: $color-light-600;
        color: white;
    }

    .afterLoginBtn {
        background-color: $color-light-350;
    }
}
.normalbg {
    background-color: $color-light-200;
}
.home_bg {
    background-color: $color-dark-900;
}
