#Head {
    position: inherit;
    width: 100%;
    height: 50px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
        margin-right: 5px;
    }

    .homelogo {
        margin-left: 10px;
    }
    .btns {
        height: 30px;
        width: 100px;
        background-color: $color-light-200;
        border-color: $color-light-200;
        border-style: none;
    }
    .btns:hover {
        background-color: $color-primary-300;
    }
    .btns-home {
        height: 30px;
        width: 100px;
        background-color: $color-dark-900;
        border-color: $color-dark-900;
        border-style: none;
        color: $color-light-80;
    }
    .btns-home:hover {
        background-color: $color-light-600;
        color: white;
    }

    .afterLoginBtn {
        background-color: $color-light-200;
        height: 30px;
    }

    .afterLoginBtn:hover {
        background-color: $color-primary-300;
    }

    .afterLoginBtn-home {
        background-color: $color-dark-900;
        height: 30px;
        color: $color-light-80;
    }

    .notifications {
        color: $color-brown-900;
        padding: 4px 8px 4px 8px;
        margin-right: 5px;
        &:hover {
          background-color: $color-light-200;  
        }
    }

    .notifications-home {
        color: $color-light-200;
        padding: 4px 8px 4px 8px;
        margin-right: 5px;
        &:hover {
          background-color: $color-dark-500;  
        }
    }

    .build {
        color: $color-brown-900;
        transform:rotate(90deg);
        padding: 4px 6px 4px 6px;
        margin-right: 20px;
        &:hover {
            background-color: $color-red-200;  
            color: $color-light-50;
        }
    }

    .build-home {
        color: $color-light-50;
        transform:rotate(90deg);
        padding: 4px 6px 4px 6px;
        margin-right: 20px;
        &:hover {
            background-color: $color-red-200;  
            color: $color-brown-900;
        }
    }
}
.normalbg {
    background-color: $color-light-200;
}
.home_bg {
    background-color: $color-dark-900;
}
