$color-primary-300: #eeb888;
$color-primary-500: #deb06b;

$color-brown-500: #945b47;
$color-brown-900: #402e32;

$color-red-500: #e61e04;

$color-orange-500: #e7660f;
$color-orange-800: #c25450;

$color-blue-400: #496bdb;
$color-blue-500: #2f0fe7;

$color-skyblue-200: #bfffffff;
$color-skyblue-300: #b3e8e8e5;
$color-skyblue-400: #00b3b4;

$color-light-50: #ffffff;
$color-light-200: #ebe8e5;
$color-light-300: #e6e6e6;
$color-light-400: #999999;
$color-light-500: #777777;
$color-light-600: #4a4a4a;

$color-dark-400: #242424;
$color-dark-500: #151515;
$color-dark-600: #0d0d0d;
$color-dark-900: #000000;
