$main-color:#DEB06B;
$main-back-color:#fff;
$color-dark:#000;


$color-light-50: #96969657;
$color-light-300: #e6e6e6;
$color-light-400: #999999;
$color-light-500: #777777;
$color-light-600: #4a4a4a;

$color-dark-50: #0000001a;
$color-dark-400: #242424;
$color-dark-500: #151515;
$color-dark-600: #0d0d0d;

$color-success-500: #1d92ff;
$color-success-600: #003fa7;

$color-warning-500: #ffb600;
$color-warning-600: #ffa100;

$color-danger-500: #ff4564;
$color-danger-600: #f32f50;

$backgorund-color:#EBE8E5;
$text-color:#402E32;
$text-color-highlight:#945B47;
$buttom-color:#BFFFFFFF;
$content-bcc:#FFFFFF;
$setbox:#B3E8E8E5;