#ActivityCreate {

  .btns {
    height: 50px;
    width: 100px;
    background-color: $color-light-200;
    border-color: $color-light-200;
    border-style: none;
  }

  .btns:hover {
      background-color: $color-primary-300;
  }

  .mainContainer{

    display: flex;
    justify-content: center;
    align-items: center;

    .text-themeColor {
      color: $color-primary-500;
    }

    .text-completed {
      color: $color-skyblue-400;
    }

    .btn-step {
      background: $color-primary-500;
      border: 1.5px solid $color-brown-900;
      box-sizing: border-box;
      border-radius: 2px;
      position: relative;
      width: 150px;
      height: 25px;
      font-size: 9px;
      line-height: 16px;
      color: $color-brown-900;
    }

    .childComponent{

      height: calc(100vh - 250px);

      .basicInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;

        .page-title{
          font-size: 28px;
          line-height: 33px;
          color: $color-primary-500;
          margin-bottom:20px;
          margin-left: -10%;
        }
  
        .text-title{
          width: 72px;
          font-size: 18px;
          color: $color-brown-900;
        }
  
        .input-title{
          width: 720px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
          .q-field__control{
            height: 30px;
          }
        }

        .date_file_text{

          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 30px;

          .text-date{
            width: 72px;
            font-size: 18px;
            color: $color-brown-900;
          }

          .text-field{
            margin-left: 198px;
            font-size: 18px;
            color: $color-brown-900;
          }
        }

        .date_file_input{
          display: flex;
          flex-direction: row;
          align-items: center;

          .file-field{
            position: relative;
            width: 450px;
            padding: 0px 10px 0px 10px;
            background: $color-light-200;
            border-radius: 5px;
            margin-left: 48px;
            .material-icons {
              color: $color-primary-500;
            } 
          }

          .select-date{
            padding-left: 10px;
            background: $color-light-200;
            border-radius: 5px;
            .q-field__control{
              height: 30px;
            }
          }
        }
        
        .text-image{
          margin-top: 30px;
          width: 72px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .uploader-image{
          width: 240px;
          height: 180px;
        }

        .text-introduction{
          margin-top: 30px;
          width: 72px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .input-introduction{
          width: 85%;
        }

        .category_ageLimit_text{

          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 30px;

          .text-category{
            width: 72px;
            height: 21px;
            font-size: 18px;
            color: $color-brown-900;
          }

          .text-ageLimit{
            margin-left: 337px;
            width: 72px;
            height: 21px;
            font-size: 18px;
            color: $color-brown-900;
          }
        }

        .category_ageLimit_input{

          display: flex;
          flex-direction: row;
          align-items: center;

          .select-category{
            width: 320px;
            padding-left: 10px;
            background: $color-light-200;
            border-radius: 5px;
            margin: 5px 0px 0px 0px;
          }
  
          .select-ageLimit{
            width: 320px;
            padding-left: 10px;
            background: $color-light-200;
            border-radius: 5px;
            margin: 5px 0px 0px 90px;
          }
        }

        .numberLimit_cost_text{

          margin-top: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .text-numberLimit{
            width: 72px;
            height: 21px;
            font-size: 18px;
            color: $color-brown-900;
          }

          .text-cost{
            margin-left: 337px;
            width: 72px;
            height: 21px;
            font-size: 18px;
            color: $color-brown-900;
          }

        }

        .numberLimit_cost_input{

          display: flex;
          flex-direction: row;
          align-items: center;

          .input-numberLimit{
            width: 320px;
            padding-left: 10px;
            background: $color-light-200;
            border-radius: 5px;
            .q-field__control{
              height: 30px;
            }
          }
  
          .input-cost{
            width: 320px;
            padding-left: 10px;
            background: $color-light-200;
            border-radius: 5px;
            margin: 5px 0px 0px 90px;
            .q-field__control{
              height: 30px;
            }
          }
        }

        .text-addTag{
          margin-top: 30px;
          width: 72px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .input-addTag{
          width: 732px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
          .q-field__control{
            height: 30px;
          }
        }
      }
    }
  }

  /*quasar set*/
  .q-field__native {
    min-height: 0px;
    padding: 0;
  }

  .q-field__marginal {
    height: 30px;
    font-size: 30px;
  }

  .q-field__control{
    min-height: 0px;
  }

  .q-select__dropdown-icon {
    color: $color-light-200;
    background: $color-primary-500;
    transition: transform 0.2s;
    border-radius: 5px;
    height: 100%;
    width: 30px;
    padding-top: 0px;
    align-content: center;
  }

  .q-field__bottom--animated {
    transform: translateY(100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .q-field--with-bottom {
    padding-bottom: 0px;
  }

  .q-gutter-y-xs, .q-gutter-xs {
    background: $color-primary-500;
    border-radius:5px 5px 0px 0px;
    margin-left: 0px;
    height: 40px;
  }

  .cursor-pointer {
    color: $color-primary-500;
  }

  .q-stepper--horizontal .q-stepper__step-inner {
    padding: 24px;
    width: 1000px;
  }
}
