#ActivityView {
    .container {
        height: calc(100vh - 50px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .activity-main {
        display: flex;
        height: 100%;
    }
    .event-category {
        width: 20%;
        max-height: 80%;
    }
    .card-list {
        width: 78%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-height: 80%;
        overflow-y: auto;
    }

    .my-card {
        width: 100%;
        max-width: 250px;
        height: 300px;
        margin: 10px;
        & > img {
            width: 100%;
            min-height: 200px;
            max-height: 160px;
            object-fit: cover;
            flex: 1;
        }
    }
    .hover-content {
        height: 80%;
        overflow-y: auto;
        margin: 13px 10px;
    }
    .timeline {
        display: flex;
        flex-direction: row;
        margin-top: -5%;
    }
    .timeline:before,
    .timeline:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid;
        margin: auto;
    }
    .timeline:before {
        margin-right: 10px;
    }
    .timeline:after {
        margin-left: 10px;
    }

    .q-pt-none {
        background-color: $color-dark-opacity;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        color: $color-light-50;
        padding: 19px 0px;
    }
}
