#ActivityShowView {
    .main {
        display: flex;
        flex-direction: row;

        .q-breadcrumbs {
            & > div {
                .q-breadcrumbs--last a {
                    pointer-events: default;
                }
            }
        }

        .history-area {
            width: 250px;
            margin-left: 20px;
            margin-top: 35px;
            .history-btn {
                width: 250px;
                border: 2px;
                border-style: solid;
                border-color: black;
                background-color: white;
            }

            .card-list {
                display: grid;
                flex-wrap: wrap;
                grid-template-columns: repeat(4, 1fr);
                overflow-y: scroll;
                grid-gap: 1rem;
                max-height: 1300px;
                width:100%;
                &::-webkit-scrollbar {
                    display: none; 
                }
                  
                .my-card {
                    width: 100%;
                    width: 250px;
                    margin-top: 15px;
                    height: 440px;
                    & > img {
                        width: 100%;
                        min-height: 250px;
                        max-height: 160px;
                        object-fit: cover;
                        flex: 1;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                    .heart {
                        position: absolute;
                        right: 8px;
                        top: 8px;
                        font-size: 25px;
                        cursor: pointer;
                        z-index: 3;
                        width: 50px;
                        height: 50px;
                        background-color: #ffffffcc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        border: 1px solid black;
                        & > img {
                            width: 30px;
                        }
                    }
                    @include laptop {
                        width: 250px;
                        height: 440px;
                    }
                }
                .content {
                    height: 36%;
                }
                .hover-content {
                    height: 80%;
                    overflow-y: auto;
                    margin: 13px 10px;
                }
                .timeline {
                    display: flex;
                    flex-direction: row;
                    margin-top: -5%;
                }
                .timeline:before,
                .timeline:after {
                    content: "";
                    flex: 1 1;
                    border-bottom: 1px solid;
                    margin: auto;
                }
                .timeline:before {
                    margin-right: 10px;
                }
                .timeline:after {
                    margin-left: 10px;
                }
            
                .q-pt-none {
                    background-color: $color-dark-opacity;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    left: 0px;
                    bottom: 0px;
                    color: $color-light-50;
                    padding: 19px 0px;
                    border-radius: 5px;
                    .card-title {
                        height: 40px;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
    
}
