#ActivityCreate {

  .main-bar {
    position: inherit;
    width: 100%;
    background-color: $color-light-200;
    height: 50px;
    text-align: right;
  }

  .btns {
    height: 50px;
    width: 100px;
    background-color: $color-light-200;
    border-color: $color-light-200;
    border-style: none;
  }

  .btns:hover {
      background-color: $color-primary-300;
  }

  .mainContainer{

    display: flex;
    justify-content: center;
    align-items: center;

    .text-themeColor {
      color: $color-primary-500;
    }

    .text-completed {
      color: $color-skyblue-400;
    }

    .btn-step {
      background: $color-primary-500;
      border: 1.5px solid $color-brown-900;
      box-sizing: border-box;
      border-radius: 2px;
      position: relative;
      width: 150px;
      height: 25px;
      top: 40px;
      font-size: 9px;
      line-height: 16px;
      color: $color-brown-900;
    }

    .childComponent{

      position: relative;
      height: 600px;
  
      .basicInfo{

        height: 1100px;

        .page-title{
          position: relative;
          top: 55px;
          font-size: 28px;
          line-height: 33px;
          text-align: center;
          color: $color-primary-500;
          margin-bottom:50px;
        }
  
        .text-title{
          position: relative;
          width: 72px;
          left: 82px;
          top: 80px;
          font-size: 18px;
          color: $color-brown-900;
        }
  
        .input-title{
          position: relative;
          width: 720px;
          left: 80px;
          top: 82px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
          .q-field__control{
            height: 30px;
          }
        }

        .text-date{
          position: relative;
          width: 72px;
          left: 82px;
          top: 110px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .select-date{
          position: relative;
          width: 240px;
          left: 80px;
          top: 112px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
          .q-field__control{
            height: 30px;
          }
        }

        .text-field{
          position: relative;
          left: -78px;
          top: 110px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .file-field{
          position: relative;
          width: 450px;
          left: 110px;
          top: 112px;
          padding: 0px 10px 0px 10px;
          background: $color-light-200;
          border-radius: 5px;
          .material-icons {
            color: $color-primary-500;
          } 
        }

        .text-image{
          position: relative;
          width: 72px;
          left: 82px;
          top: 140px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .uploader-image{
          position: relative;
          width: 240px;
          height: 180px;
          left: 80px;
          top: 150px;
        }

        .text-introduction{
          position: relative;
          width: 72px;
          left: 82px;
          top: 190px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .input-introduction{
          position: relative;
          width: 85%;
          left: 80px;
          top: 200px;
        }

        .text-category{
          position: relative;
          width: 72px;
          height: 21px;
          left: 82px;
          top: 250px;
          font-size: 18px;
          color: $color-brown-900;
        }
  
        .select-category{
          position: relative;
          width: 320px;
          left: 80px;
          top: 260px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
        }

        .text-ageLimit{
          position: relative;
          width: 72px;
          height: 21px;
          left: 162px;
          top: 250px;
          font-size: 18px;
          color: $color-brown-900;
        }
  
        .select-ageLimit{
          position: relative;
          width: 320px;
          left: 156px;
          top: 260px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
        }

        .text-numberLimit{
          position: relative;
          width: 72px;
          height: 21px;
          left: 82px;
          top: 290px;
          font-size: 18px;
          color: $color-brown-900;
        }
  
        .input-numberLimit{
          position: relative;
          width: 320px;
          left: 80px;
          top: 300px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
          .q-field__control{
            height: 30px;
          }
        }

        .text-cost{
          position: relative;
          width: 72px;
          height: 21px;
          left: 162px;
          top: 290px;
          font-size: 18px;
          color: $color-brown-900;
        }
  
        .input-cost{
          position: relative;
          width: 320px;
          left: 156px;
          top: 300px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
          .q-field__control{
            height: 30px;
          }
        }

        .text-addTag{
          position: relative;
          width: 72px;
          left: 82px;
          top: 340px;
          font-size: 18px;
          color: $color-brown-900;
        }

        .input-addTag{
          position: relative;
          width: 715px;
          left: 82px;
          top: 345px;
          padding-left: 10px;
          background: $color-light-200;
          border-radius: 5px;
          .q-field__control{
            height: 30px;
          }
        }
      }
    }
  }

  /*quasar set*/
  .q-field__native {
    min-height: 0px;
    padding: 0;
  }

  .q-field__marginal {
    height: 30px;
    font-size: 30px;
  }

  .q-field__control{
    min-height: 0px;
  }

  .q-select__dropdown-icon {
    color: $color-light-200;
    background: $color-primary-500;
    transition: transform 0s;
    border-radius: 5px;
    height: 100%;
    width: 30px;
    padding-top: 0px;
    align-content: center;
  }



  .q-field__bottom--animated {
    transform: translateY(100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .q-field--with-bottom {
    padding-bottom: 0px;
  }

  .q-gutter-y-xs, .q-gutter-xs {
    background: $color-primary-500;
    border-radius:5px 5px 0px 0px;
    margin-left: 0px;
    height: 40px;
  }

  .cursor-pointer {
    color: $color-primary-500;
  }
}
