#ActivityView {
    .activity-main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .head-block {
        margin: 20px 0px;
        min-height: 300px;
        background: $color-light-500;
    }
    .event-category {
        width: 200px;
        max-height: 700px;
        overflow-y: auto;
        margin-top: 5px;
        .q-pa-md {
            padding: 16px 6px;
        }
    }
    .card-set {
        width: calc(100% - 200px);
        flex-direction: column;
        align-items: center;
        min-width: 1000px;
        .card-list {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(4, 1fr);
            overflow-y: auto;
            margin-left: 10px;
            grid-gap: 1rem;
            padding: 10px 1px;
        }
        .pagination {
            display: flex;
            justify-content: center;
        }
    }

    .my-card {
        width: 100%;
        width: 240px;
        margin-top: 15px;
        height: 440px;
        & > img {
            width: 100%;
            min-height: 250px;
            max-height: 160px;
            object-fit: cover;
            flex: 1;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .heart {
            position: absolute;
            right: 8px;
            top: 8px;
            font-size: 25px;
            cursor: pointer;
            z-index: 3;
            width: 50px;
            height: 50px;
            background-color: #ffffffcc;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 1px solid black;
            & > img {
                width: 30px;
            }
        }
        @include laptop {
            width: 250px;
            height: 440px;
        }
    }
    .content {
        height: 36%;
    }
    .hover-content {
        height: 80%;
        overflow-y: auto;
        margin: 13px 10px;
    }
    .timeline {
        display: flex;
        flex-direction: row;
        margin-top: -5%;
    }
    .timeline:before,
    .timeline:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid;
        margin: auto;
    }
    .timeline:before {
        margin-right: 10px;
    }
    .timeline:after {
        margin-left: 10px;
    }

    .q-pt-none {
        background-color: $color-dark-opacity;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        color: $color-light-50;
        padding: 19px 0px;
        border-radius: 5px;
        .card-title {
            height: 40px;
            overflow-y: auto;
        }
    }
    .activity-information {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .activity-filter {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .right-btn {
            min-width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & > button {
                margin-top: 5px;
            }
            .activity-all {
                background: $color-primary-300;
                color: $color-brown-900;
                border: 1px solid $color-dark-900;
            }
            .activity-recommended {
                background: $color-light-80;
                color: $color-brown-900;
                border: 1px solid $color-dark-900;
            }
        }
        .select-category {
            position: relative;
            border-radius: 5px;
            border: 1px solid $color-primary-300;
        }
        .left-search {
            display: flex;
            .q-field {
                min-width: 150px;
                height: 25px;
                margin-top: 5px;
                margin-left: 10px;
            }

            .q-field__native {
                padding: 0;
                height: 10px;
                min-height: 25px;
            }
            .q-field__append {
                height: 25px;
            }
            .q-field__control {
                min-height: 25px;
            }
            .q-field__control-container {
                min-height: 25px;
            }
            .q-select__dropdown-icon {
                background: $color-primary-500;
                margin-top: -1px;
            }

            .search-input {
                display: flex;
                flex-direction: column;
                .search-words {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    & > span {
                        padding: 3px;
                        .q-chip {
                            background: $color-primary-300;
                        }
                    }
                }
                .search-textfield {
                    border: 1px solid $color-primary-300;
                    max-width: 200px;
                    .q-icon {
                        color: $color-light-200;
                        background: $color-primary-500;
                        transition: transform 0.2s;
                        margin-top: -1px;
                    }
                }
            }
        }
        .right-search {
            color: $color-primary-300;
            min-width: 185px;
            & > div {
                display: flex;
                align-items: center;
                & > label:first-child {
                    margin-right: 5px;
                    max-height: 10px;
                }
            }
            .q-field {
                min-width: 175px;
                height: 25px;
                margin-top: 5px;
            }

            .q-field__native {
                padding: 0;
                height: 10px;
                min-height: 25px;
            }
            .q-field__append {
                height: 25px;
            }
            .q-field__control {
                min-height: 25px;
            }
            .q-field__control-container {
                min-height: 25px;
            }

            .q-select__dropdown-icon {
                color: $color-light-200;
                background: $color-primary-500;
                transition: transform 0.2s;
                border-radius: 5px;
                margin-top: -1px;
            }
        }
    }
    .q-tree__node-header {
        background-color: $color-light-80;
    }
}
