#Home {
    .main-bar {
        position: inherit;
        width: 100%;
        background-color: $color-light-200;
        height: 50px;
        text-align: right;
    }

    .container {
        height: calc(100vh - 50px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first-step {
        z-index: 2;
        background: $color-primary-500;
        display: block;
        width: 40%;
        height: auto;
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;
    }
    .second-step {
        z-index: 2;
        & > div {
            height: 50px;
            width: 200px;
            background-color: $color-brown-900;
            color: $color-light-50;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .billboard {
            cursor: pointer;
            position: absolute;
            left: 42%;
            top: 48%;
            // transform-origin: 100% 50%;
            animation: second-step-animation 0.3s;
        }
        .hotActivity {
            cursor: pointer;
            position: absolute;
            left: 47%;
            top: 53%;
            animation: second-step-animation 0.3s;
        }
    }

    .billboardInfo {
        z-index: 1;
        display: flex;
        height: 90%;
        width: 100%;
        animation: billboard-animation 1s;
        .billboardInfo-right {
            width: 70%;
            background-color: $color-light-200;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .tag {
                color: $color-light-50;
                background-color: $color-brown-900;
                height: 51px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-90deg);
                margin: -50px;
                width: 150px;
                border-radius: 2px;
            }
        }
    }
    .hotActivityInfo {
        z-index: 1;
        display: flex;
        height: 90%;
        width: 100%;
        animation: hotActivityInfo-animation 1s;
        justify-content: flex-end;
        .hotActivityInfo-right {
            width: 70%;
            background-color: $color-light-200;
            display: flex;
            align-items: center;
            .tag {
                color: $color-light-50;
                background-color: $color-brown-900;
                height: 51px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-90deg);
                margin: -50px;
                width: 150px;
                border-radius: 2px;
            }
        }
    }

    .tag-group {
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .billboard-step-leave-active {
        animation: billboard-animation-out 0.1s;
    }
    .hotActivity-step-leave-active {
        animation: hotActivityInfo-animation-out 0.1s;
    }

    @-webkit-keyframes second-step-animation {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }

    @-webkit-keyframes billboard-animation {
        0% {
            transform: scaleX(0);
            transform-origin: left;
        }
        100% {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    @-webkit-keyframes billboard-animation-out {
        0% {
            transform: scaleX(1);
            transform-origin: left;
        }
        100% {
            transform: scaleX(0);
            transform-origin: left;
        }
    }

    @-webkit-keyframes hotActivityInfo-animation {
        0% {
            transform: scaleX(0);
            transform-origin: right;
        }
        100% {
            transform: scaleX(1);
            transform-origin: right;
        }
    }
    @-webkit-keyframes hotActivityInfo-animation-out {
        0% {
            transform: scaleX(1);
            transform-origin: right;
        }
        100% {
            transform: scaleX(0);
            transform-origin: right;
        }
    }

    .bg-image {
        width: 100%;
        height: calc(100% - 50px);
        position: absolute;
        top: 50px;
        left: 0;
    }

    .opacity-set {
        opacity: 0.6;
    }

    .first-step-leave-active {
        width: 10%;
        opacity: 0;
        transition: 0s;
    }

    .btns {
        height: 50px;
        width: 100px;
        background-color: $color-light-200;
        border-color: $color-light-200;
        border-style: none;
    }
    .btns:hover {
        background-color: $color-primary-300;
    }
}
