#LoginModal {
  .welcome {
    color: $color-primary-500;
    font-size: 30px;
  }
  .forget {
    width: 278px;
    padding: 0;
  }
  .forgetText {
    color: $color-primary-500;
    font-size: 10px;
  }

  .btn-login {
    width: 278px;
    background-color: $color-primary-300;
    border-color: $color-brown-900;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
    &:hover {
      background: $color-orange-500;
    }
  }
  .btn-transToReister {
    width: 278px;
    background-color: $color-light-50;
    border-color: $color-brown-900;
    border-style: solid;
    border-width: 2px;
    &:hover {
      background: $color-primary-500;
    }
  }
  .btn-google {
    width: 278px;
    height: 32px;
    background-color: $color-orange-800;
    color: $color-light-50;
    margin-bottom: 5px;
    &:hover {
      background: $color-red-500;
    }
  }
  .btn-facebook {
    width: 278px;
    height: 32px;
    background-color: $color-blue-400;
    color: $color-light-50;
    &:hover {
      background: $color-blue-500;
    }
  }
  .hr {
    display: flex;
    align-items: center;
    justify-content: center;
    .line {
      height: 1px;
      background-color: $color-light-400;
      width: 100px;
    }
    .text {
      padding: 0px 10px;
      color: $color-light-400;
      font-size: 16px;
    }
  }

  .title-text {
    font-weight: bold;
    font-size: 25px;
    color: $color-brown-900;
  }

  .content-text {
    font-weight: bold;
    font-size: 15px;
    color: $color-brown-900;
  }

  .btn-regeister {
    width: 100%;
    background-color: $color-primary-300;
    border-color: $color-brown-900;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
    &:hover {
      background: $color-orange-500;
    }
  }

  .btn-transToLogin {
    width: 100%;
    background-color: $color-light-50;
    border-color: $color-brown-900;
    border-style: solid;
    border-width: 2px;
    &:hover {
      background: $color-primary-500;
    }
  }
  .NoPaddingTopBottom {
    padding-top: 0;
    padding-bottom: 0;
  }
}
