#SystemCodeView {
    .control {
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: flex-end;
        width: 600px;
        padding-bottom: 10px;
        .add {
            background-color: $color-primary-500;
            border-style: solid;
            border-color: $color-dark-900;
            border-width: 1px;
            color: $color-dark-900;  
            margin-right: 5px;
        }
        .save {
            background-color: $color-primary-500;
            border-style: solid;
            border-color: $color-dark-900;
            border-width: 1px;
            color: $color-dark-900;
            margin-right: 5px;
        }
        .search{
            background-color: $color-light-50;
            font-size: large;
        }
    }
    .main {
        display: flex;
        flex-direction: row;
        .cardMst {
            width: 180px;
            margin-bottom: 6px;
        }

        .cardMstClick {
            width: 180px;
            margin-bottom: 6px;
            background-color: $color-primary-500;
            border-color: $color-dark-900;
            border-style: solid;
            border-width: 1px;
        }

        .cardKeyword {
            font-weight: bold;
            font-size: large;
            color: $color-dark-900;
            user-select:none;
        }

        .cardName {
            font-size: small;
            color: rgb(73, 71, 71);
            user-select:none;
        }

        .dtlDiv {
            width: 800px;
            padding-left: 20px;
        }

        .ghost {
            opacity: 0.5;
            background: #c8ebfb;
        }

        .not-draggable {
            cursor: no-drop;
        }

        .list-group-item {
            background-color: $color-light-50;
            width: 700px;
            height: 40px;
            border-color: $color-dark-900;
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            &:hover {
                background-color: $color-light-200;
            }

            .drag_icon {
                padding-left: 10px;
                padding-right: 20px;
            }

            .codeName {
                text-align: left;
                width: 200px;
                font-size: medium;
            }

            .codeDesc {
                font-size: medium;
            }

            .delete-btn {
                position: absolute;
                right: 100px;
                width: 20px;
                &:hover {
                    background-color: $color-light-350;
                }
            }

            .edit-btn {
                position: absolute;
                right: 70px;
                width: 20px;
                &:hover {
                    background-color: $color-light-350;
                }
            }

            .line {
                width: 2px;
                height: 80%;
                background-color:#9e9e9e;
                position: absolute;
                right: 55px;
            }

            .rightStyle {
                position: absolute;
                right: 0px;
            }
        } 
        .addRow{
            background-color: $color-skyblue-300;
        }
        .noData {
            font-size: larger;
        }
    }
}
