#UserProfile {
    background-color: $color-light-200;
    height: 100vh;

    .profile-main {
        display: flex;
        width: 100%;
        height: 100%;

        .profile-option {
            width: 20%;
            height: 100%;
        }
        .profile-view {
            width: 80%;
            height: 100%;

            .viewActivities-filter {
                display: flex;
                justify-content: space-between;

                .left-filter {
                    display: flex;
                }
                .right-filter {
                    display: flex;
                    align-items: baseline;
                    color: $color-primary-300;
                    min-width: 185px;
                    .q-field {
                        min-width: 150px;
                        height: 25px;
                        margin-top: 5px;
                    }

                    .q-field__native {
                        padding: 0;
                        height: 10px;
                        min-height: 25px;
                    }
                    .q-field__append {
                        height: 25px;
                    }
                    .q-field__control {
                        min-height: 25px;
                    }
                    .q-field__control-container {
                        min-height: 25px;
                    }

                    .q-select__dropdown-icon {
                        color: $color-light-200;
                        background: $color-primary-500;
                        transition: transform 0.2s;
                        border-radius: 5px;
                        margin-top: -1px;
                    }
                    .select-category {
                        position: relative;
                        border-radius: 5px;
                        border: 1px solid $color-primary-300;
                    }
                    .label {
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }
                .tab-color {
                    color: $color-primary-500;
                }
                .tab-active-color {
                    color: $color-brown-900;
                }
                .q-tab__label {
                    font-size: large;
                    font-weight: bold;
                }
            }
            .table-column-font {
                color: $color-primary-500;
                font-size: large;
                font-weight: bold;
                vertical-align: middle;
            }
        }
    }
}
